/*Header Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/*Body Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

/*Heeader*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Arimo", sans-serif;
  font-size: 1.5em;
  background-color: black;
  color: white;
  padding-left: 3em;
  padding-right: 3em;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a:hover {
  color: inherit;
  opacity: 0.8;
  text-decoration: underline;
}

.headerLogo,
.headerUserInfo ul,
.headerInfo ul {
  margin: 1em;
}

.headerLogo img {
  width: 5em;
}

.headerUserInfo ul {
  display: flex;
  align-items: center;
  gap: 2em;
}

.headerInfo ul {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 0.8em;
}

.mainPage {
  background-image: url("assets/homePageBackground/shoeAnnouncement_1.jpg");
  background-size: 100% 50%;
}
